<% const languagesFrom = [
    ["Russian", "Russian"],
    ["Spanish", "Spanish"],
]; %>

<select id="srclang" name="srclang">
    <option disabled selected>Choose language</option>
    <% for (var i = 0; i < languagesFrom.length; i++) { %>
        <% if(languagesFrom[i][0] === srclang) { %>
        <option value="<%= languagesFrom[i][0] %>" selected><%= languagesFrom[i][1]%></option>
        <% } else { %>
            <option value="<%= languagesFrom[i][0] %>"><%= languagesFrom[i][1] %></option>
        <% } %>
    <% } %>
</select>
<label for="srclang">Source language</label>
