<% const languagesFrom = [
    ["russian", "Russian"],
]; %>


<select id="srclang" name="srclang">
    <option value="" disabled selected>Choose language</option>
    <% for (var i = 0; i < languagesFrom.length; i++) { %>
        <% if(languagesFrom[i][0] === data.srclang) { %>
        <option value="<%= languagesFrom[i][0] %>" selected><%= languagesFrom[i][1]%></option>
        <% } else { %>
            <option value="<%= languagesFrom[i][0] %>"><%= languagesFrom[i][1] %></option>
        <% } %>
    <% } %>
</select>
<label for="srclang">Source language</label>
