<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tigread</title>
</head>
<body>
Welcome to tigread!

<form id="textform" method="post" action="/index">
    <textarea id="textarea">
    </textarea>
    <input type="submit" value="Submit">
</form>

<span>Result:</span>
<div id="result"></div>

</body>
</html>