<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tigread</title>
</head>
<body>
<h1>Welcome to tigread!</h1>

<form id="translite-form" method="post" action="/">
    <%- include('./partials/listOfSrcLang', { data }) %>

    <%- include('./partials/listOfResultLang', { data }) %>

    <div class="form-text">
        <label>Insert your text
            <textarea name="srctext"><%= data.text %></textarea>
        </label>
    </div>

    <div class="form-button">
        <input type="submit" value="Transliterate">
    </div>
</form>

<div class="reader">
    <label>Transliterated text
        <textarea name="resulttext"><%= data.transliteratedText %></textarea>
    </label>
</div>


</body>
</html>