<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/styles/main.css"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tigRead</title>
</head>
<body>
<nav>
    <div class="nav-wrapper orange">
        <a href="/" class="brand-logo right">🐯 tigRead</a>
    </div>
</nav>

<header>
    <h1>Wow!</h1>
</header>

<main>
    <form class="input-field" id="translite-form" method="post" action="/">
        <div class="row">
            <div class="input-field col s6">
                <select id="srclang" name="srclang">
                    <option value="" disabled selected>Choose language</option>
                    <option value="Russian">Russian</option>
                    <option value="Spanish">Spanish</option>
                </select>
                <label for="srclang">Source language</label>
            </div>
            <div class="input-field col s6">
                <select id="resultlang" name="resultlang">
                    <option value="" disabled selected>Choose language</option>
                    <option value="Georgian">Georgian</option>
                    <option value="Hebrew">Hebrew</option>
                    <option value="Yiddish">Yiddish</option>
                </select>
                <label for="resultlang">To script of...</label>
            </div>
        </div>

        <div class="waves-effect waves-light orange btn">
            <input type="submit" value="Transliterate">
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea required id="srctext" class="materialize-textarea" name="srctext"></textarea>
                <label for="srctext">Insert your text</label>
            </div>
        </div>
    </form>
</main>

<footer class="page-footer transparent">
    <div class="footer-copyright orange">
        <div class="container">
            © 2022 tigRead
            <a class="grey-text text-lighten-4 right" target="_blank" href="https://heder.ru">Ulpan Heder</a>
        </div>
    </div>
</footer>

<script src="/scripts/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"
        integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>