body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.readerContainer {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
}

.reader {
    font-size: 20pt;
    padding-top: 1vh;
    white-space: pre-wrap;
    flex: 1 0 auto;
    user-select: text;
    -webkit-user-select: text;
}

#srctext {
    overflow-y: scroll;
}
